<div class = "form-div">
<%= form_with(model: @article) do |art| %>

  <h3>Title </h3>
  <p><%= art.text_field :title %></p>

  <h3>Description</h3>
  <p><%= art.text_field :description  %></p>
  
  <p><%= art.submit %> </p>

<% end %>
</div>