<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="body">
  <div class = "main">
   <div class= "text">
    <h1>Welcome to My Alpha Blog</h1>
  </div>

  <div class= "links">
    <h3><%= link_to "Articles Page", articles_path %></h3>
    <h3><%= link_to "Signup", signup_path %></h3>
    <h3><%= link_to "Login", login_path %></h3>
  </div>

  <div class = "images">
    <a href="https://www.instagram.com/thedivyvaria/"><img src="https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHx8&w=1000&q=80" alt=""></a>
  </div>

</div>
</body>
</html>